/*********************************************/
/*****                                   *****/
/*****  Documento CSS                    *****/
/*****                                   *****/
/*****  Fecha: 07/11/2016                *****/
/*****  Autor: Lcda. Dayan Betancourt    *****/
/*****                                   *****/
/*********************************************/
@import "https://fonts.googleapis.com/css?family=Montserrat";

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	color: #00008C;
}

/*********************************************/
/*****        Etiquetas Generales        *****/
/*********************************************/
.img-responsive {
	height: auto;
	width: 100%;
}

.icono {
	display: inline-block;
	text-align: center;
	width: 1em;
}

.lista-cero {
	margin: 0;
	padding: 0;
}

.lista-cero li {
	list-style: none;
}

.redes li {
	display: inline-block;
	font-size: 2.6em;
	margin: 0 4px;
}

.redes li a {
	text-decoration: none;
}

/*********************************************/
/*****         Encabezado - Menú         *****/
/*********************************************/
.encabezado-inicio {
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	height: 90px;
}

.encabezado {
	background-color: #CCCCCC;
	color: #FFFFFF;
	height: 90px;
}

.encabezado-fondo {
	background-color: #CCCCCC;
}

.espaciado-menu {
	padding-top: 90px;
}

.encabezado-inicio .navbar-brand, .encabezado .navbar-brand {
	padding-top: 0;
}

.encabezado-inicio .navbar-toggle, .encabezado .navbar-toggle {
	margin: 24px 20px 24px;
}

.logo {
	width: 120px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
  border-bottom: 3px solid #2980B9;
  color: #FFFFFF;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
  margin: 0 2px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  border-bottom: 3px solid #2980B9;
  color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #00008C;
}

/*********************************************/
/*****              Portada              *****/
/*********************************************/
.portada {
	background-attachment: fixed;
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	color: #FFFFFF;
	height: 100vh;
	overflow: hidden;
}

.portada h2 {
	color: #FFFFFF;
	font-style: italic;
}

.portada .container {
	height: 100vh;
	position: relative;
}

.portada .btn-default {
	background-color: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
	margin: 0 1em;
}

.portada-acciones {
	bottom: 1em;
	left: 0;
	position: absolute;
	right: 0;
}

/*********************************************/
/*****           Pie de Página           *****/
/*********************************************/
.piePag {
	background-color: #000000;
	color: #CCCCCC;
	font-family: 'Cutive Mono', monospace, serif;
	font-size: .7em;
}

.piePag h2 {
	color: #FFFFFF;
	font-size: 20px;
}

.piePag a {
	color: #FFFFFF;
}

.piePag hr {
	margin: .8em 0;
}

.derechos {
	font-size: .8em;
	text-align: center;
}

/*********************************************/
/*****            Habilidades            *****/
/*********************************************/
.habilidad {
	border: 1px solid #00008C;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: .8em;
}

/*********************************************/
/*****             Contacto              *****/
/*********************************************/
.contacto {
	margin-bottom: 1em;
}

#form_contacto {
	margin-top: 1.2em;
}

/*********************************************/
/*****            Suscripción            *****/
/*********************************************/
.suscripcion {
	background-color: #FFC200;
	margin-bottom: 0;
	padding-top: 0;
}

.suscripcion .input-group-addon {
  background-color: #FFFFFF;
}

.suscripcion .input-group-addon, .suscripcion input, .suscripcion .btn-default {
	border-color: #00008C;
	color: #00008C;
}

/*********************************************/
/*****             Formulario            *****/
/*********************************************/
.btn {
	border-color: #00008C;
	border-width: 2px;
	font-family: 'Cutive Mono', monospace, serif;
	font-weight: bold;
}

.form-control:focus {
	background-color: #00008C;
	border-color: #CCCCCC;
	-webkit-box-shadow: 8px 6px 5px #B9B9B9;
	   -moz-box-shadow: 8px 6px 5px #B9B9B9;
	        box-shadow: 8px 6px 5px #B9B9B9;
	color: #FFFFFF;
}

.btn-default {
	color: #00008C;
}

.btn-default:hover {
	background-color: #00008C;
	border-color: #00008C;
	color: #FFFFFF;
}

.input-group-btn .btn-default {
	border-width: 1px;
}

.btn-accion1:hover {
	background-color: #FFC200;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.btn-accion2:hover {
	background-color: #00008C;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

input[type="checkbox"], input[type="radio"] {
	display: block;
	float: left;
	margin-right: -1.6em;
	opacity: 0;
	width: auto;
	z-index: -1;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	cursor: pointer;
	display: inline-block;
	padding-left: 2em;
	position: relative;
	text-align: left;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
	border: 2px solid #00008C;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
       		border-radius: 6px;
	content: '';
	display: inline-block;
	height: 1.4em;
	left: 0;
	position: absolute;
	top: 0;
	width: 1.4em;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
	background-color: #00008C;
	color: #FFFFFF;
	content: '\f00c';
	font-family: 'icomoon';
	line-height: 1em;
	padding-top: 2px;
	text-align: center;
	vertical-align: middle;
}

/*********************************************/
/*****           MEDIA QUERIES           *****/
/*********************************************/
@media screen and (min-width: 520px) {
}

@media screen and (min-width: 768px) {
	#menuWeb {
		background-color: transparent;
		margin-top: 20px;
	}

	.portada-titular {
		margin-top: 40vh;
	}
}

@media screen and (min-width: 1024px) {
}