/*********************************************/
/*****                                   *****/
/*****  Documento CSS                    *****/
/*****                                   *****/
/*****  Fecha: 07/11/2016                *****/
/*****  Autor: Lcda. Dayan Betancourt    *****/
/*****                                   *****/
/*********************************************/
@import "https://fonts.googleapis.com/css?family=Montserrat";

/*********************************************/
/*****        Etiquetas Globales         *****/
/*********************************************/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	color: #00008C;
}

/*********************************************/
/*****        Etiquetas Generales        *****/
/*********************************************/
.img-responsive {
	height: auto;
	width: 100%;
}

.icono {
	display: inline-block;
	text-align: center;
	width: 1em;
}

.lista-cero {
	margin: 0;
	padding: 0;
}

.lista-cero li {
	font-size: 1.2em;
	list-style: none;
	padding: .2em 0;
}

.redes {
	margin: 0;
	padding: 0;
}

.redes li {
	display: inline-block;
	font-size: 2.6em;
	margin: 0 4px;
}

.redes li a {
	text-decoration: none;
}

/*********************************************/
/*****         Encabezado - Menú         *****/
/*********************************************/
.encabezado-inicio {
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	height: 90px;
}

.encabezado {
	background-color: #CCCCCC;
	color: #FFFFFF;
	height: 90px;
}

.encabezado-fondo {
	background-color: #CCCCCC;
}

.espaciado-menu {
	padding-top: 90px;
}

.encabezado-inicio .navbar-brand, .encabezado .navbar-brand {
	padding-top: 0;
}

.encabezado-inicio .navbar-toggle, .encabezado .navbar-toggle {
	margin: 24px 20px 24px;
}

.logo {
	width: 120px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
  border-bottom: 3px solid #2980B9;
  color: #FFFFFF;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
  margin: 0 2px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  border-bottom: 3px solid #2980B9;
  color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #00008C;
}

/*********************************************/
/*****              Portada              *****/
/*********************************************/
.portada {
	background-attachment: fixed;
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		 	 -o-background-size: cover;
		 	 		background-size: cover;
	color: #FFFFFF;
	height: 100vh;
	overflow: hidden;
}

.portada h2 {
	color: #FFFFFF;
	font-style: italic;
}

.portada .container {
	height: 100vh;
	position: relative;
}

.portada .btn-default {
	background-color: transparent;
	border-color: #FFFFFF;
	color: #FFFFFF;
	margin: 0 1em;
}

.portada-acciones {
	bottom: 1em;
	left: 0;
	position: absolute;
	right: 0;
}

/*********************************************/
/*****           Pie de Página           *****/
/*********************************************/
.piePag {
	background-color: #151515;
	color: #CCCCCC;
	font-family: monospace, serif;
	font-size: .7em;
	padding: 2em 0 1em 0;
}

.piePag h2 {
	color: #FFFFFF;
	font-size: 2em;
}

.piePag a {
	color: #FFFFFF;
}

.derechos {
	text-align: center;
}

/*********************************************/
/*****             Formulario            *****/
/*********************************************/

/*********************************************/
/*****           MEDIA QUERIES           *****/
/*********************************************/
@media screen and (min-width: 768px) {
	#menuWeb {
		background-color: transparent;
		margin-top: 20px;
	}

	.portada-titular {
		margin-top: 40vh;
	}
}